<h1 class="main-title animate__animated animate__fadeInDown">Welcome {{user.username}}!</h1>
<main>


  <div id="main-profile">

    {{!-- <input type="submit" class="button-28" id="create" value="Create a TimeTable"> --}}

    <template id="createTT">
      <form id="createTimeTable" action="/profil" method="post">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" />
        {{#each allUsers}}
        <fieldset>
          <legend>{{this.username}}</legend>
          <label for="{{this.username}}"><input type="radio" name='{{this.username}}' value="none" checked>Not
            Included</label>
          <label for="{{this.username}}"><input type="radio" name='{{this.username}}'
              value="participant">Participant</label>
          <label for="{{this.username}}"><input type="radio" name='{{this.username}}' value="editor">Editor</label>
        </fieldset>
        {{/each}}
        <button class="button-28">Create</button>
      </form>
    </template>

    <template id="editTT">
      <div id="editDiv">
        <form id="editForm">
          <label for="edittitle">Title: </label>
          <input type="text" name="edittitle" id="edittitle" />
        </form>
        <button id="editBtn">Edit</button>
      </div>
    </template>
    <div id="list"></div>
</main>
{{#if error}}
<p>{{error}}</p>
{{/if}}