<h1>Profil of {{user.username}}</h1>
<div id="main">
  <div id="divCreate">
  <button id="create">Create a Time Table</button>
  {{!-- </div>
  <div id="divFetch">
  <button id="fetch">Fecth administated Time Table</button>
  </div>
  <div id="divShare">
    <button id="fetchShare">Fetch Time Table shared</button>
  </div> --}}
</div>
<template id="createTT">
  <form id="createTimeTable" action="/profil" method="post">
    <label for="title">Title: </label>
    <input type="text" name="title" id="title" />
    {{#each allUsers}}
    <fieldset>
      <legend>{{this.username}}</legend>
      <label for="{{this.username}}"><input type="radio" name='{{this.username}}' value="none" checked>Not Included</label>
      <label for="{{this.username}}"><input type="radio" name='{{this.username}}' value="participant">Participant</label>
      <label for="{{this.username}}"><input type="radio" name='{{this.username}}' value="editor">Editor</label>
    </fieldset>
    {{/each}}
    <button>Create</button>
  </form>
</template>
<template id="editTT">
  <form id="editForm">
    <label for="edittitle">Title: </label>
    <input type="text" name="edittitle" id="edittitle" />
  </form>
    <button id="editBtn">Edit</button>
</template>
<div id="list"></div>